/*
/*/

!/.gitignore
!/.gitmodules
!/Makefile
!/README.md

!/asmp-dll/
/asmp-dll/*

!/asmp-dll/Makefile
!/asmp-dll/README.md
!/asmp-dll/.clang-format

!/asmp-dll/src
!/asmp-dll/test

!/common/

!/game/
/game/*
!/game/AlienShooter/
/game/AlienShooter/*
!/game/AlienShooter/Maps/
/game/AlienShooter/Maps/*
!/game/AlienShooter/Maps/asmp_mainmenu.men
!/game/AlienShooter/Maps/asmp_play.lgc
!/game/AlienShooter/Maps/asmp_play.men
!/game/AlienShooter/Maps/MAINMENU.lgc
